.text {
    font-size: 18px;
    color: darkred;
    text-align: center;
}

#btn {
    padding: 25px 30px;
    font-size: 18px;
    background-color: dimgray;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#btn:hover {
    background-color: gray;
    transform: scale(1.05);
}
